# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 6</font>

## Download: http://github.com/dsacademybr

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

### Update e Delete

In [12]:
import sqlite3
import random
import time
import datetime
 
# Criando uma conexão
conn = sqlite3.connect('dsa.db')   

# Criando um cursor
c = conn.cursor()
 
# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
      
# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES(002, '02-05-2020', 'teclado', 130 )")
    conn.commit()
    c.close()
    conn.close()
    
# Usando variáveis para inserir dados    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'monitor'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?, ?)", 
              (new_date, new_prod_name, new_valor))
    conn.commit()
    
# Leitura de dados
def leitura_todos_dados():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha)
        
# Leitura de registros específicos
def leitura_registros():
    c.execute("SELECT * FROM PRODUTOS WHERE valor > 70.0")
    for linha in c.fetchall():
        print(linha)      
        
# Leitura de colunas específicos
def leitura_colunas():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha[3])  
        
# Update
def atualiza_dados():
    c.execute("UPDATE produtos SET valor = 123.00 WHERE valor = 70.0")
    conn.commit()
    
# Delete
def remove_dados():
    c.execute("DELETE FROM produtos WHERE valor = 65.0")
    conn.commit()

In [13]:
atualiza_dados()

In [14]:
leitura_todos_dados()

(10, '2020-05-02 14:32:11', 'Teclado', 90.0)
(11, '2020-10-02 15:56:43.471245', 'Monitor', 123.0)
(12, '2020-10-02 15:56:44.481876', 'Monitor', 74.0)
(13, '2020-10-02 15:56:45.487804', 'Monitor', 65.0)
(14, '2020-10-02 15:56:46.495083', 'Monitor', 52.0)
(15, '2020-10-02 15:56:47.501782', 'Monitor', 90.0)
(16, '2020-10-02 15:56:48.507925', 'Monitor', 65.0)
(17, '2020-10-02 15:56:49.515430', 'Monitor', 53.0)
(18, '2020-10-02 15:56:50.523577', 'Monitor', 84.0)
(19, '2020-10-02 15:56:51.529936', 'Monitor', 60.0)
(20, '2020-10-02 15:56:52.535768', 'Monitor', 59.0)

In [15]:
remove_dados()

In [16]:
leitura_todos_dados()

(10, '2020-05-02 14:32:11', 'Teclado', 90.0)
(11, '2020-10-02 15:56:43.471245', 'Monitor', 123.0)
(12, '2020-10-02 15:56:44.481876', 'Monitor', 74.0)
(14, '2020-10-02 15:56:46.495083', 'Monitor', 52.0)
(15, '2020-10-02 15:56:47.501782', 'Monitor', 90.0)
(17, '2020-10-02 15:56:49.515430', 'Monitor', 53.0)
(18, '2020-10-02 15:56:50.523577', 'Monitor', 84.0)
(19, '2020-10-02 15:56:51.529936', 'Monitor', 60.0)
(20, '2020-10-02 15:56:52.535768', 'Monitor', 59.0)

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>